<head>
    <title>LendLib4-Redo</title>
</head>

<body>
    <div class="container">
        <h1>My Categories of Stuff!!</h1>
        {{> categoryTemplate}}
    </div>
    <div class="container">
        {{> itemTemplate}}
    </div>
</body>

<template name="categoryTemplate">
    <div id="categoryButtonGroupId" class="categoryClass btn-group"> 
        {{#if isAddingCategory}}
            <div class="form-group">
                <input type="text" id="newCategoryText" class="form-control" value=""/>
            </div>
        {{else}}
            <div id="btnCategoryPlusId" class="categoryClass btn btn-primary">&plus;</div>
        {{/if}}
        {{#each categoryIterator}}
        <div class="categoryClass categoryClickListener btn {{btnStatus}}" id="{{_id}}">
            {{CategoryName}}
        </div>
        {{/each}}
        <div id="btnCategoryMinusId" class="categoryClass btn btn-primary">&minus;</div>
    </div>
</template>

<template name="itemTemplate">
    <div id="itemListId" class="itemClass">
        {{#if isCategorySelected}}
            <h2>Items</h2>
            <ul class="list-group">
                {{#each itemIterator}}
                    <li class="list-group-item">
                        {{ItemName}}
                        <button type="button" class="close listItemDeleteListener" id="{{ItemName}}">x</button>
                    </li>
                {{/each}}
            </ul>
            {{#if isAddingItem}}
                <div class="form-group">
                    <input type="text" id="newItemText" class="form-control" value=""/>
                </div>
            {{/if}}
            <div id="btnItemPlusId" class="btn-group btn btn-primary">&plus;</div>
        {{/if}}
    </div>
</template>
